*{
    margin: 0;
    padding:0;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color:grey;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/assets/images/bg01.jpg);
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    width: auto;
}

h1{
    font-family:Roboto, sans-serif;
    font-size: 52px;
    color: white;
}

a {
    color: grey;
    text-decoration-style: dotted;
}

#container{
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: center;
    margin-left:5%;
    margin-top:10%;
}

#text-container > *{
    padding: 2% 0;
}

#submit{
    background: #1cb495;    
    border: none;    
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;   
    padding: 10px;
    border-radius: 5px; 
}

#email{
    border: 1px solid #ffffff;
    background: none;
    padding: 10px;
    border-radius: 5px;
}

#footer-container{
    margin-top:50%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}